<div class="ul-li current"><a data_id="439"  href="/index/played/12/439">三码不定位</a></div>
<div class="ul-li"><a data_id="440"  href="/index/played/12/440">二码不定位</a></div>
<div class="ul-li"><a data_id="433"  href="/index/played/12/433">二码定位</a></div>
<div class="ul-li"><a data_id="432"  href="/index/played/12/432">三码定位</a></div>
<div class="ul-li"><a data_id="431"  href="/index/played/12/431">四码定位</a></div>
<div class="ul-li"><a data_id="435"  href="/index/played/12/435">一帆风顺</a></div>
<div class="ul-li"><a data_id="436"  href="/index/played/12/436">好事成双</a></div>
<div class="ul-li"><a data_id="437"  href="/index/played/12/437">三星报喜</a></div>
<div class="clear"></div>