<table width="100%" border="0" cellspacing="1" cellpadding="0" class="grayTable">
    <thead>
    <tr class="table_b_th">
        <td width="60">选项</td>
        <td>状态</td>
        <td class="tl">主题</td>
        <td>发件人</td>
        <td>时间</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td colspan="5" align="center">暂无消息。</td>
    </tr>
    <tr>
        <td colspan="5" class="tl">
            <label><INPUT  id="chk_All" type="checkbox" value="All" name="chk_All" style="height: 19px;"></label>&nbsp&nbsp
            <a href="/Boxs/delete/" dataType="json" class="removeAllRecord" onajax="recordBeforeDelete" call="deleteBet" target="ajax"><input name="delall" style="width:50px;" type="button" value="删 除" /></a>
        </td>
    </tr>
    </tbody>
</table>
<div class="bottompage">

    <a class="disabled">首页</a>&nbsp;
    <a class="disabled">上一页</a>&nbsp;

    &nbsp;<a href="/Boxs/searchReceive-1/?state=3" class="pagecurrent">1</a>&nbsp;


    <a class="disabled">下一页</a>
    <a class="disabled">尾页</a>
    <span class="disabled">第1页/共1页</span>
</div>
